@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("./assets/fonts/NeueHaasGrotesk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("./assets/fonts/NeueHaasGrotesk-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("./assets/fonts/NeueHaasGrotesk-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: "Neue Haas Grotesk", Arial, Helvetica, sans-serif;
}
