@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Neue Haas Grotesk";
  src: url("./assets/fonts/NeueHaasGrotesk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Neue Haas Grotesk", sans-serif;
} */
